{% load static %}
<html>
    <head>
        <title>Memo's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="main-header">
            
            <h1>Daily Inspirational Quotes</h1>
            <h5><small><em>with M.T Tizora</em></small></h5>
        </div>
        <div class="content-container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
         <h2>Self Respect</h2>
        <p>Never beg someone to be in your life. If you text, call, visit and walk away. It's called 'SELF-RESPECT'</p>
        <hr>
         <h2>Secrets to Success</h2>
        <p>Sometimes you have to forget whats gone, appreciate what still remains and look forward to what's coming next</p>
        <hr>
        <h2>Keep Smiling :)</h2>
        <p>In the journey of life, we pass pleasures and pains. There will be sunshine and rain; there will be loss and gain. But we must learn to smile again and again:)</p>
        <hr>
        <h2>Love Completely.....</h2>
        <p>If you love something, love it completely, cherish it, say it, but most importantly, show it. 

            Life is finite & fragile & just because something is there for one day, it might not be the next. Never take that for granted.
            
            Say what you need to say, then say a little more. Say too much. Show too much. Love too much. Everything is temporary but love. Love outlives us all.</p>
        <hr>
        <h2>Correct Mindset</h2>
        <p>Don't chase people. Be yourself, do your own thing and work hard. The right people who really belong in your life will come to you and stay.</p>
        <hr>
        <h2>Be Motivated</h2>
        <p>The fact that you are'nt where you want to be should be enough motivation.</p>
        <hr>
        <h2>You Are Strong.....</h2>
        <p>Never forget how far you have come. All the times you pushed on even when you felt you couldn't. All the mornings you got out of bed no matter how hard it was. All the times you wanted to give up but fought another day. Never forget the strength you've gained along the way.

            There is a purpose in every situation so never give up, always strive for the best.</p>
        <hr>
        <h2>Be Calm......</h2>
        <p>Life cannot be changed in a minute, but a decision taken in a minute changes everything in life. Always stay calm before you decide.</p>
        <hr>
        <h2>Be Happy Now...</h2>
        <p>What's meant to be yours is already making its way to you. What was never yours is starting to flee from you. With time, it will all make sense. For now, bear the confusion and focus on living fully in the present. Don't let your whole life be "l'll be happy when". Be happy now.</p>
        <hr>
    </body>
</html>
